doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='style/Font-Awesome/css/font-awesome.css', rel='stylesheet')
    link(href='style/aldrich.css', rel='stylesheet')
    link(href='style/main.css', rel='stylesheet')
    title CatX Tuner
  body
    script(src='sea-modules/seajs/2.3.0/dist/sea-debug.js')
    script(src='sea-modules/jquery/2.1.1/jquery.js')
    script(src='sea-modules/underscore/1.6.0/underscore.js')
    script(src='sea-modules/animatescroll.js/upstream/animatescroll.js')
    script(src='sea-modules/processing-js/upstream/processing.js')
    script(src='script/loader.js')

    script.
      // App Entry
      seajs.use(location.pathname + 'script/main');

    #visualizer
      #outer-circle
      #wave
        canvas
      #inner-circle
        //- #info
        //-   #cat
    #bottom-control
      #info
        p#status Loading
        #buttons
          i#play-button.button.fa.fa-play.fa-6
          i#pause-button.button.fa.fa-pause.fa-6
          i#loading-icon.icon.fa.fa-spinner.fa-6
          i#warning-icon.icon.fa.fa-warning.fa-6
      p#modes
        //| Drag a music file here or&nbsp;
        a#use-mic(href='#') use mic
        | &nbsp|&nbsp
        a.active#use-sample(href='#') use sample
      //a(id='show-content')
        //i.fa.fa-angle-down.fa-5
    #content

    #links
      a(href='http://catx.me' target='_blank' title='An HTML5 experiment by AKFish')
        i.fa.fa-home.fa-2

      a(href='https://github.com/akfish/not-a-tuner-yet' target='_blank' title='Fork & Star at GitHub')
        i.fa.fa-github.fa-2
