doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    link(href='/style/Font-Awesome/css/font-awesome.css', rel='stylesheet')
    link(href='/style/main.css', rel='stylesheet')
    title CatX Tuner
  body
    script(src='sea-modules/seajs/2.3.0/dist/sea-debug.js')
    script(src='sea-modules/jquery/2.1.1/jquery.js')
    script(src='sea-modules/underscore/1.6.0/underscore.js')
    script(src='sea-modules/animatescroll.js/upstream/animatescroll.js')
    script(src='script/loader.js')

    script.
      // App Entry
      seajs.use('/script/main');

    #visualizer
      #outer-circle
      #inner-circle
    #bottom-control
      a(id='show-content')
        i.fa.fa-angle-down.fa-5
    #content
