// Color schems
@c0: #FDFDFD;
@c1: #D06503;
@c2: #E9931A;
@c3: #1691BE;
@c4: #166BA2;
@c5: #1B3647;
@c6: #1B3647;
// Text colors
@text-color-bold:   #89867e;
@text-color-light:  #ceccc6;
@text-color-invert: #f2f2f2;
// Consts
@phi: 0.618;
// Animation
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.animate(@ani: spin, @duration: 4s) {
  -webkit-animation:@ani @duration linear infinite;
  -moz-animation:@ani @duration linear infinite;
  animation:@ani @duration linear infinite;
}

html, body {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: @c5;
}

// @width must be percentage
.circle(@width) {
    width: percentage(@width);
    height:0;
    padding-bottom: percentage(@width);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.semi-circle-at-bottom-center(@width) {
  position: absolute;
  bottom: calc(percentage(-@width));
  left: percentage((1 - @width) / 2);
  .circle(@width);
}

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}

#main {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  section {
    width: 100%;
    min-height: 100%;
  }
}

#visualizer {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  #wave {
    position:absolute;
    width: 100%;
    height: 200%;
    left: 0px;
    top: 0px;
    z-index: 2;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
  #outer-circle {
    z-index: 1;
    .semi-circle-at-bottom-center((1 - @phi) * @phi + @phi);
    background-color: @c4;
  }
  #inner-circle {
    z-index: 3;
    .drop-shadow(@spread: 1px, @blur: 10px);
    .semi-circle-at-bottom-center(@phi);
    background-color: @c3;

    #info {
      position: absolute;
      border: 1px solid;
      width: 100%;
      height: 50%;

      #cat {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../image/cat-sili.png') no-repeat;
      }
    }
  }
}

#bottom-control {
  //visibility: hidden;
  z-index: 5;
  position: absolute;
  width: 100%;
  bottom: 0px;
  font-size: 3em;
  text-align: center;
  color: @text-color-light;
  p {
    font-size: 24px;
    margin: 5px;
  }
  a {
    color: @text-color-light;
  }
  .active {
    text-decoration: none;
    font-weight: 200;
  }
  #modes {
    visibility: hidden;
  }
  #info{
    margin-bottom: 80px;
    #buttons {
      .icon {
        display: none;
      }
      .button {
        display: none;
      }
      .button:hover {
        .drop-shadow(@spread: 1px, @blur: 10px);
        cursor: pointer;
      }
      #loading-icon {
        .animate()
      }
    }
  }
}

#content {
  position: absolute;
  width: 100%;
  top: 100%;
  min-height: 100%;
  //background-color: @c1;
  //opacity: 0.7;
}
