@font-face {
  font-family: 'Aldrich';
  font-style: normal;
  font-weight: 400;
  src: local('Aldrich'), url(fonts/j-NnyokbAnhXANS2iZ6Jew.woff2) format('woff2'), url(fonts/Y0zWA9-hxl3_xvcxN-VXfA.woff) format('woff');
}
